<section class="container">
    <h1 class="my-3">
        Term Deposits

        <a [routerLink]="['add']" class="text-primary ms-2">
            <i class="bi bi-plus-circle-dotted"></i>
        </a>
    </h1>
    
    <div *ngIf="isLoading; else showData" class="placeholder-glow">
        <div *ngFor="let i of _noOfData" class="card shadow-sm mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <span class="col-12 placeholder"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="col-12 placeholder"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="col-12 placeholder"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="col-12 placeholder"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="col-12 placeholder"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="col-12 placeholder"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #showData>
        <div *ngIf="haveData; else noData">
            <div *ngFor="let item of list" class="card shadow-sm mb-3">
                <div class="position-relative">
                    <div class="position-absolute top-0 end-0">
                        <div class="btn-group">
                            <a type="button" [routerLink]="['edit', item.id]" class="btn btn-outline-primary shadow-none border-0">
                                <i class="bi bi-pencil"></i>
                            </a>

                            <button type="button" (click)="onDeleteClicked(item.id)" class="btn btn-outline-danger shadow-none border-0">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row mb-md-2">
                        <div class="col-md-3">
                            <small class="text-secondary">Account Number</small>
                            <br />
                            <span>{{ item.accountNumber }}</span>
                        </div>

                        <div class="col-md-4">
                            <small class="text-secondary">Names</small>
                            <br />
                            <span>{{ toNames(item.names) }}</span>
                        </div>

                        <div class="col-md-5">
                            <small class="text-secondary">Institution</small>
                            <br />
                            <span>{{ item.institutionName }}, {{ item.institutionBranch }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <small class="text-secondary">Start Date</small>
                            <br />
                            <span>{{ item.startDate | date }}</span>
                        </div>

                        <div class="col-md-3">
                            <small class="text-secondary">Principal Amount</small>
                            <br />
                            <span>{{ item.principalAmount | currency: item.currencyCode }}</span>
                        </div>

                        <div class="col-md-3">
                            <small class="text-secondary">Maturity Date</small>
                            <br />
                            <span>{{ item.maturityDate | date }}</span>
                        </div>

                        <div class="col-md-3">
                            <small class="text-secondary">Maturity Amount</small>
                            <br />
                            <span>{{ item.maturityAmount | currency: item.currencyCode }}</span>
                        </div>
                    </div>

                    <div class="collapse row mt-2" [id]="'td-' + item.id">
                        <div class="col-md-3">
                            <small class="text-secondary">Tenure</small>
                            <br />
                            <span>{{ toTenure(item) }}</span>
                        </div>

                        <div class="col-md-3">
                            <small class="text-secondary">Interest Rate</small>
                            <br />
                            <span>{{ item.interestRate }}%</span>
                        </div>

                        <div class="col-md-3">
                            <small class="text-secondary">Interest Amount</small>
                            <br />
                            <span>{{ item.interestAmount | currency: item.currencyCode }}</span>
                        </div>
                        
                        <div class="col-md-3">
                            <small class="text-secondary">Nominees</small>
                            <br />
                            <span>{{ toNominees(item.nominees) }}</span>
                        </div>

                        <div class="col-md-4 mt-2">
                            <small class="text-secondary">Features</small>
                            <br />
                            <span>{{ item.features || '-' }}</span>
                        </div>
                    </div>
                </div>

                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0">
                        <button type="button"
                            class="btn btn-outline-secondary shadow-none border-0"
                            data-bs-toggle="collapse" [attr.data-bs-target]="'#td-' + item.id" aria-expanded="false" [attr.aria-controls]="item.id">
                            <i class="bi bi-chevron-double-up collapse-hide"></i>
                            <i class="bi bi-chevron-double-down expanded-hide"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #noData>
            <div class="lead text-center text-muted py-4">
                Click
                <a [routerLink]="['add']" class="text-primary">
                    <i class="bi bi-plus-circle-dotted"></i>
                </a>
                to add a term deposit
            </div>
        </ng-template>
    </ng-template>
</section>

<term-deposit-delete *ngIf="showDelete" [id]="selectedId" (onClose)="onDeleteClosed($event)"></term-deposit-delete>