<section class="container text-center">
    <p class="display-4 mt-5">iData Editor</p>

    <p class="text-lead fs-4 text-muted">Use below buttons to create iData file or open an existing file</p>

    <button type="button" (click)="onNewClicked()" class="btn btn-outline-primary btn-lg me-md-2 mb-3 shadow">
        <i class="bi bi-file-earmark"></i>
        <span class="ms-2">Create iData File</span>
    </button>

    <button type="button" (click)="onOpenClicked()" class="btn btn-outline-primary btn-lg ms-md-2 mb-3 shadow">
        <i class="bi bi-file-earmark-text"></i>
        <span class="ms-2">Open iData File</span>
    </button>
</section>