<div class="offcanvas offcanvas-end show" tabindex="-1" aria-modal="true" role="dialog">
    <div class="offcanvas-header text-bg-primary">
        <h5 class="offcanvas-title">Add Term Deposit</h5>
    </div>

    <div class="offcanvas-body">
        <div *ngIf="haveError" class="alert alert-danger" role="alert">
            <div class="row">
                <div class="col-1">
                    <i class="bi bi-patch-exclamation"></i>
                </div>

                <div class="col-11">
                    {{ errorMessage }}
                </div>
            </div>
        </div>

        <div *ngIf="isLoading; else showForm" class="placeholder-glow">
            <div *ngFor="let i of _noOfFields" class="mb-3">
                <label class="form-label col-5 placeholder"></label>
                
                <span class="form-control col-12 placeholder"></span>
            </div>

            <button type="button" disabled class="btn btn-primary col-4 placeholder">
            </button>

            <button type="button" disabled class="btn btn-secondary ms-2 col-4 placeholder">
            </button>
        </div>

        <ng-template #showForm>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmitClicked()">
                <fieldset [disabled]="isSaving">
                    <div class="mb-3">
                        <label for="accountNumber" class="form-label">Account Number</label>
    
                        <input type="text" formControlName="accountNumber" id="accountNumber" #focusOn
                            class="form-control" [ngClass]="{ 'is-invalid': fc.accountNumber.errors, 'is-valid': fc.accountNumber.valid }">
                        
                        <div *ngIf="fc.accountNumber.errors" class="invalid-feedback">
                            <div *ngIf="fc.accountNumber.errors.required">Account Number is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="institutionName" class="form-label">Institution Name</label>
    
                        <input type="text" formControlName="institutionName" id="institutionName"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.institutionName.errors, 'is-valid': fc.institutionName.valid }">
                        
                        <div *ngIf="fc.institutionName.errors" class="invalid-feedback">
                            <div *ngIf="fc.institutionName.errors.required">Institution Name is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="institutionBranch" class="form-label">Institution Branch</label>
    
                        <input type="text" formControlName="institutionBranch" id="institutionBranch"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.institutionBranch.errors, 'is-valid': fc.institutionBranch.valid }">
                        
                        <div *ngIf="fc.institutionBranch.errors" class="invalid-feedback">
                            <div *ngIf="fc.institutionBranch.errors.required">Institution Branch is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>

                        <input type="text" formControlName="firstName" id="firstName"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.firstName.errors, 'is-valid': fc.firstName.valid }">
                        
                        <div *ngIf="fc.firstName.errors" class="invalid-feedback">
                            <div *ngIf="fc.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="middleName" class="form-label">Middle Name</label>

                        <input type="text" formControlName="middleName" id="middleName"
                            class="form-control">
                    </div>
                    
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>

                        <input type="text" formControlName="lastName" id="lastName"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.lastName.errors, 'is-valid': fc.lastName.valid }">
                        
                        <div *ngIf="fc.lastName.errors" class="invalid-feedback">
                            <div *ngIf="fc.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="startDate" class="form-label">Start Date</label>
    
                        <input type="date" formControlName="startDate" id="startDate"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.startDate.errors, 'is-valid': fc.startDate.valid }"
                            [max]="_today">
                        
                        <div *ngIf="fc.startDate.errors" class="invalid-feedback">
                            <div *ngIf="fc.startDate.errors.required">Start Date is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="principalAmount" class="form-label">Principal Amount</label>
    
                        <input type="number" formControlName="principalAmount" id="principalAmount"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.principalAmount.errors, 'is-valid': fc.principalAmount.valid }"
                            inputmode="numeric">
                        
                        <div *ngIf="fc.principalAmount.errors" class="invalid-feedback">
                            <div *ngIf="fc.principalAmount.errors.required">Principal Amount is required</div>
                            <div *ngIf="fc.principalAmount.errors.min">Principal Amount cannot be less than 1</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="tenureDays" class="form-label">Tenure</label>
    
                        <div class="input-group">
                            <input type="number" formControlName="tenureDays" id="tenureDays"
                                class="form-control" [ngClass]="{ 'is-invalid': fc.tenureDays.errors, 'is-valid': fc.tenureDays.valid }"
                                inputmode="numeric">
                            <span class="input-group-text">Days</span>
    
                            <input type="number" formControlName="tenureMonths" id="tenureMonths"
                                class="form-control" [ngClass]="{ 'is-invalid': fc.tenureMonths.errors, 'is-valid': fc.tenureMonths.valid }"
                                inputmode="numeric">
                            <span class="input-group-text">Months</span>
                        </div>
                        
                        <div *ngIf="fc.tenureDays.errors" class="invalid-feedback">
                            <div *ngIf="fc.tenureDays.errors.required">Tenure Days is required</div>
                            <div *ngIf="fc.tenureDays.errors.min">Tenure Days cannot be nagative</div>
                        </div>
    
                        <div *ngIf="fc.tenureMonths.errors" class="invalid-feedback">
                            <div *ngIf="fc.tenureMonths.errors.required">Tenure Months is required</div>
                            <div *ngIf="fc.tenureMonths.errors.min">Tenure Months cannot be nagative</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="interestRate" class="form-label">Interest Rate</label>
    
                        <div class="input-group">
                            <input type="number" formControlName="interestRate" id="interestRate"
                                class="form-control" [ngClass]="{ 'is-invalid': fc.interestRate.errors, 'is-valid': fc.interestRate.valid }"
                                inputmode="numeric">
                            <span class="input-group-text">%</span>
                        </div>
    
                        <div *ngIf="fc.interestRate.errors" class="invalid-feedback">
                            <div *ngIf="fc.interestRate.errors.required">Interest Rate is required</div>
                            <div *ngIf="fc.interestRate.errors.min">Interest Rate cannot be less than 0.01</div>
                            <div *ngIf="fc.interestRate.errors.max">Interest Rate cannot be greater than 100</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="interestAmount" class="form-label">Interest Amount</label>
    
                        <input type="number" formControlName="interestAmount" id="interestAmount"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.interestAmount.errors, 'is-valid': fc.interestAmount.valid }"
                            inputmode="numeric">
    
                        <div *ngIf="fc.interestAmount.errors" class="invalid-feedback">
                            <div *ngIf="fc.interestAmount.errors.required">Interest Amount is required</div>
                            <div *ngIf="fc.interestAmount.errors.min">Interest Amount cannot be less than 0.01</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="maturityDate" class="form-label">Maturity Date</label>
    
                        <input type="date" formControlName="maturityDate" id="maturityDate"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.maturityDate.errors, 'is-valid': fc.maturityDate.valid }"
                            [min]="fc.startDate">
    
                        <div *ngIf="fc.maturityDate.errors" class="invalid-feedback">
                            <div *ngIf="fc.maturityDate.errors.required">Maturity Date is required</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="maturityAmount" class="form-label">Maturity Amount</label>
    
                        <input type="number" formControlName="maturityAmount" id="maturityAmount"
                            class="form-control" [ngClass]="{ 'is-invalid': fc.maturityAmount.errors, 'is-valid': fc.maturityAmount.valid }"
                            inputmode="numeric">
    
                        <div *ngIf="fc.maturityAmount.errors" class="invalid-feedback">
                            <div *ngIf="fc.maturityAmount.errors.required">Maturity Amount is required</div>
                            <div *ngIf="fc.maturityAmount.errors.min">Maturity Amount cannot be less than 0.01</div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="features" class="form-label">Features</label>
    
                        <textarea formControlName="features" id="features"
                            class="form-control"
                            rows="3">
                        </textarea>
                    </div>
    
                    <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary">
                        <i class="bi bi-hdd"></i>
                        <span class="ms-2">Save</span>
                    </button>
    
                    <button type="button" (click)="onCancelClicked()" class="btn btn-outline-secondary ms-2">
                        <i class="bi bi-x-lg"></i>
                        <span class="ms-2">Cancel</span>
                    </button>
    
                    <div *ngIf="isSaving" class="spinner-grow spinner-grow-sm ms-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </fieldset>
            </form>
        </ng-template>
    </div>
</div>

<div class="offcanvas-backdrop fade show"></div>