<section class="container">
    <h1 class="mb-3">
        Agents

        <button *ngIf="!isLoadingAgents" type="button" (click)="onCreateClicked()" class="border-0 bg-transparent text-primary ms-2">
            <i class="bi bi-plus-circle-dotted"></i>
        </button>
    </h1>

    <div class="card">
        <table class="table table-hover table-responsive align-middle mb-0">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col>
                <col width="5">
            </colgroup>

            <thead>
                <tr class="text-bg-light">
                    <th scope="col" class="text-end">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody *ngIf="isLoadingAgents; else showData" class="table-group-divider placeholder-glow">
                <tr>
                    <td colspan="5">
                        <span class="col-12 placeholder"></span>
                    </td>
                </tr>
            </tbody>

            <ng-template #showData>
                <tbody *ngIf="haveData; else noData" class="table-group-divider">
                    <tr *ngFor="let agent of agentList; index as i">
                        <th scope="row" class="text-end">{{ i + 1 }}.</th>
                        <td>{{ agent.name.first }} {{ agent.name.last }}</td>
                        <td>{{ agent.emailAddresses !== null && agent.emailAddresses.length > 0 ? agent.emailAddresses[0] : '' }}</td>
                        <td>{{ agent.contactNumbers !== null && agent.contactNumbers.length > 0 ? agent.contactNumbers[0] : '' }}</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <button type="button" (click)="onUpdateClicked(agent.id)" class="btn btn-outline-primary border-0">
                                    <i class="bi bi-pencil"></i>
                                </button>
    
                                <button type="button" (click)="onDeleteClicked(agent.id)" class="btn btn-outline-danger border-0">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <ng-template #noData>
                    <tbody class="table-group-divider">
                        <tr>
                            <td colspan="5" class="lead text-center text-muted py-4">
                                Click
                                <button type="button" (click)="onCreateClicked()" class="border-0 bg-transparent text-primary">
                                    <i class="bi bi-plus-circle-dotted text-primary"></i>
                                </button>
                                to create an agent
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </ng-template>
        </table>
    </div>
</section>

<agent-create *ngIf="showCreateForm" (onClose)="onCreateClosed($event)"></agent-create>

<agent-update *ngIf="showUpdateForm" [agentId]="selectedAgentId!" (onClose)="onUpdateClosed($event)"></agent-update>

<agent-delete *ngIf="showDeleteConfirmation" [agentId]="selectedAgentId!" (onClose)="onDeleteClosed($event)"></agent-delete>