<section class="text-center">
    <p class="display-4">iData Editor</p>

    <p class="text-lead fs-4 text-muted">Use below buttons to create iData file or open existing</p>

    <button type="button" (click)="onNewClicked()" class="btn btn-outline-dark btn-lg me-2">
        <i class="bi bi-file-earmark"></i>
        <span class="ms-2">Create iData File</span>
    </button>

    <button type="button" (click)="onOpenClicked()" class="btn btn-outline-dark btn-lg ms-2">
        <i class="bi bi-file-earmark-text"></i>
        <span class="ms-2">Open iData File</span>
    </button>
</section>