$enable-shadows: true;
$enable-gradients: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
}

.left-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    transition: all 0.3s;
}