@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";

$body-bg: $gray-100;
$enable-shadows: true;
$enable-gradients: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
}