<div class="offcanvas offcanvas-end show" tabindex="-1" aria-modal="true" role="dialog">
    <div class="offcanvas-header text-bg-dark">
        <h5 class="offcanvas-title">Delete Agent</h5>
    </div>

    <div class="offcanvas-body">
        <div *ngIf="!haveData; else showData" class="placeholder-glow">
            <div class="alert alert-danger" role="alert">
                <div class="row">
                    <div class="col-1">
                        <span class="col-12 placeholder"></span>
                    </div>

                    <div class="col-11">
                        <span class="col-12 placeholder"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Name</label>
                
                <span class="col-12 placeholder"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Email Address</label>
                
                <span class="col-12 placeholder"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Mobile Number</label>
                
                <span class="col-12 placeholder"></span>
            </div>

            <button type="button" disabled class="btn btn-danger col-4 placeholder">
            </button>

            <button type="button" disabled class="btn btn-secondary ms-2 col-4 placeholder">
            </button>
        </div>

        <ng-template #showData>
            <div class="alert alert-danger" role="alert">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-patch-question"></i>
                    </div>

                    <div class="col-11">
                        Are you sure you want to delete Agent?
                    </div>
                </div>
            </div>
            
            <div *ngIf="haveError" class="alert alert-danger" role="alert">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-patch-exclamation"></i>
                    </div>

                    <div class="col-11">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Name</label>
                
                <span class="form-control-plaintext">{{ agent!.name.first }} {{ agent!.name.last }}</span>
            </div>

            <div class="mb-3">
                <label class="form-label">Email Address</label>
                
                <span class="form-control-plaintext">{{ agent!.emailAddresses !== null && agent!.emailAddresses.length > 0 ? agent!.emailAddresses[0] : '' }}</span>
            </div>

            <div class="mb-3">
                <label class="form-label">Mobile Number</label>
                
                <span class="form-control-plaintext">{{ agent!.contactNumbers !== null && agent!.contactNumbers.length > 0 ? agent!.contactNumbers[0] : '' }}</span>
            </div>

            <button type="submit" (click)="onDeleteClicked()" [disabled]="isSaving" class="btn btn-danger">
                <i class="bi bi-trash3"></i>
                <span class="ms-2">Delete</span>
            </button>

            <button type="button" (click)="onCancelClicked()" [disabled]="isSaving" class="btn btn-outline-secondary ms-2">
                <i class="bi bi-x-lg"></i>
                <span class="ms-2">Cancel</span>
            </button>

            <div *ngIf="isSaving" class="spinner-grow spinner-grow-sm ms-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </ng-template>
    </div>
</div>

<div class="offcanvas-backdrop fade show"></div>