<section class="container">
    <h1 class="my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                Masters
            </li>

            <li class="breadcrumb-item" aria-current="page">
                Family Members
                <button *ngIf="!isLoadingFamilyMembers" type="button" (click)="onCreateClicked()" class="border-0 bg-transparent text-primary ms-2">
                    <i class="bi bi-plus-circle-dotted"></i>
                </button>
            </li>
        </ol>
    </h1>

    <div class="card shadow-sm">
        <table class="table table-hover table-responsive align-middle mb-0">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col>
                <col width="5">
            </colgroup>

            <thead>
                <tr class="text-bg-light">
                    <th scope="col" class="text-end">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody *ngIf="isLoadingFamilyMembers; else showData" class="table-group-divider placeholder-glow">
                <tr>
                    <td colspan="5">
                        <span class="col-12 placeholder"></span>
                    </td>
                </tr>
            </tbody>

            <ng-template #showData>
                <tbody *ngIf="haveData; else noData" class="table-group-divider">
                    <tr *ngFor="let familyMember of familyMemberList; index as i">
                        <th scope="row" class="text-end">{{ i + 1 }}.</th>
                        <td>{{ familyMember.name.first }} {{ familyMember.name.last }}</td>
                        <td>{{ familyMember.emailAddresses !== null && familyMember.emailAddresses.length > 0 ? familyMember.emailAddresses[0] : '' }}</td>
                        <td>{{ familyMember.contactNumbers !== null && familyMember.contactNumbers.length > 0 ? familyMember.contactNumbers[0] : '' }}</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <button type="button" (click)="onUpdateClicked(familyMember.id)" class="btn btn-outline-primary shadow-none border-0">
                                    <i class="bi bi-pencil"></i>
                                </button>
    
                                <button type="button" (click)="onDeleteClicked(familyMember.id)" class="btn btn-outline-danger shadow-none border-0">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <ng-template #noData>
                    <tbody class="table-group-divider">
                        <tr>
                            <td colspan="5" class="lead text-center text-muted py-4">
                                Click
                                <button type="button" (click)="onCreateClicked()" class="border-0 bg-transparent text-primary">
                                    <i class="bi bi-plus-circle-dotted text-primary"></i>
                                </button>
                                to create an family member
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </ng-template>
        </table>
    </div>
</section>

<masters-family-member-create *ngIf="showCreateForm" (onClose)="onCreateClosed($event)"></masters-family-member-create>

<masters-family-member-update *ngIf="showUpdateForm" [familyMemberId]="selectedFamilyMemberId!" (onClose)="onUpdateClosed($event)"></masters-family-member-update>

<masters-family-member-delete *ngIf="showDeleteConfirmation" [familyMemberId]="selectedFamilyMemberId!" (onClose)="onDeleteClosed($event)"></masters-family-member-delete>